@import 'tailwindcss';


body{
    font-size: 1.09rem; 
    line-height: 1.8em;
}


h1{
    font-weight: 100;
    font-size: 2rem;

}

h2{
    font-weight: 300;
    font-size: 1.8rem;
    margin-bottom: 20px;
}

h3{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

h4{
    font-weight: 800;
    font-size: 1.09rem;
    margin-bottom: 5px;
}

ul li,ol li, p{
    margin-bottom: 15px;
    line-height: 1.6em;
}